<style>
    #footer {
        background: #073839;
        color: #fff;
        font-size: 14px;
        position: fixed;
        bottom: 0;
    }

    #footer .txt {
        padding-top: 10px;
        text-align: center;
        font-size: 16px;
        color: #fff;
    }
</style>
<footer class="text-black-50 mt-xl-5" id="footer">
    <div class="container">
        <div class="row">
            <div class="txt">
                Personal library
            </div>
        </div>
    </div>
</footer>

