<style>
    #homepage {
        color: #073839;
        text-align: center;
        padding-top: 10px;
    }

    #add {
        margin-left: 500px;
        font-size: 18px;
    }

    #deletebtn {
        float: left;
    }
</style>
<div xmlns:th="http://www.thymeleaf.org">
    <section id="hero" style="background-color: #f2f9f8;">
        <div id="homepage">
            <hr>
            <h2 id="title">All publishers </h2>
            <hr>
        </div>
    </section>

    <div class="container mb-4">
        <div class="row">
            <div class="col-12" th:if="${publishers.size() > 0}">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="thead-dark" style="text-align: center">
                        <tr style="text-align: center">
                            <th scope="col">Publisher name</th>
                            <th scope="col">Publisher address</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody style="text-align: center">
                        <tr th:each="publisher : ${publishers}">
                            <td th:text="${publisher.getName()}"></td>
                            <td th:text="${publisher.getAddress()}"></td>
                            <td>
                                <div id="deletebtn">
                                    <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                                        <form th:action="@{'/publishers/delete/{id}' (id=${publisher.getId()})}"
                                              th:method="DELETE">
                                            <button class="btn btn-sm btn-warning"
                                                    type="submit">
                                                <i>Delete</i>
                                            </button>
                                        </form>
                                    </th:block>
                                </div>
                                <div id="editbtn">
                                    <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                                        <a class="btn btn-sm btn-warning"
                                           th:href="@{'/publishers/edit-form/{id}' (id=${publisher.getId()})}">
                                            <i>Edit</i>
                                        </a>
                                    </th:block>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col mb-3">
                <div class="row" id="add">
                    <div class="col-sm-12 col-md-12" sec:authorize="hasRole('ROLE_ADMIN')">
                        <a class="btn btn-sm btn-info add-product-btn" href="/publishers/add-form">
                            Add new publisher
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>